<!DOCTYPE html>
<html>
<head>

  <title>Torino 3D</title>
        
  <!--JQuery library to handle JSON requests-->
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
  <!--JQuery extension to handle JSON requests using AJAX post request-->
  <!--Credit to: http://forum.jquery.com/topic/getjson-using-post -->
  <script>
  jQuery.extend({
    postJSON: function( url, data, callback) {
      return jQuery.post(url, data, callback, "json");
      }
    });
  </script> 

  <!--Leaflet map library (hosted version)-->
  <script src="leaflet-0.7.1/leaflet.js"></script>
  <!-- <script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script> -->

  <!--OSM Buildings library -->
  <script src="static/js/osmbuildings/dist/OSMBuildings-Leaflet.js"></script>
  <!-- <script src="L.BuildingsLayer.js"></script> -->

  <link rel="stylesheet" href="leaflet-0.7.1/leaflet.css" />
  <!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css"/> -->
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="leaflet-0.7.1/leaflet.ie.css" />
  <![endif]-->

  <style>
    body {padding: 0; margin: 0;}
    html, body, #map {height: 100%;}
  </style>

</head>

<body>

  <div id="map"></div>
  <script>
    //Define functions to get building data

    //Get current map view bounding box coords as WKT
    function getBBoxWKT(){
      var mbounds = map.getBounds().toBBoxString().split(',');
      var bounds_wkt = 'POLYGON(('+mbounds[2]+' '+mbounds[1]+','+mbounds[0]+' '
                       +mbounds[1]+','+mbounds[0]+' '+mbounds[3]+','
                       +mbounds[2]+' '+mbounds[3]+','+mbounds[2]+' '
                       +mbounds[1]+'))';
      return bounds_wkt;
      }

    //Request data from GeoJson server and add to map


    function getBuildings(bounds_wkt){
      //jQuery.getJSON('get_geojson.py?bbox_wkt='+bounds_wkt,
      jQuery.get('{% url 'json' %}' + '?bbox_wkt='+bounds_wkt,
      function(data){
        build
          .setStyle({ wallColor: 'rgb(200,190,180)', roofColor: 'rgb(255, 255, 255)', strokeRoofs: true})
          .geoJSON(data)
	;	
	});
    };

   //Create map, with center coordinates for Torino
   var latlon = new L.LatLng(45.07, 7.66);
   var map = L.map('map').setView(latlon, 18);

   //Add attribution
   //map.attributionControl.setPrefix('<a href="http://tomholderness.wordpress.com" target="_blank">3DLondon Map</a> | 3D Building data &copy the <a href="http://www.geoinformationgroup.co.uk/products/ukmap" target=_blank">GeoInformation Group</a> provided by <a href="http://www.landmap.ac.uk/" target="_blank">Landmap</a> | Basemap &copy <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a>  <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a> & <a href="http://cloudmade.com/" target="_blank">Cloudmade</a>');

   //Add a basemap
   var basemap = new L.TileLayer('http://playground.ithacaweb.org/geoserver/gwc/service/tms/1.0.0/torino@EPSG%3A900913@png/{z}/{x}/{y}.png', {tms: true,});
   map.addLayer(basemap);

   //Add scale bar to map
   L.control.scale().addTo(map);

   // Create a buildings layer instance
   // var build = new L.BuildingsLayer();
   var build = new OSMBuildings(map);

   //Call get bounds and get buildings on page load
   getBuildings(getBBoxWKT());

   //Listen for map pan events and get new buildings data 
   map.on('moveend', function(e) {
     getBuildings(getBBoxWKT());
     });

   //Listen for map zoom events and get new building data
   var czoom = map.getZoom();
   map.on('zoomend', function(e){
     //If zoom out, get new data        
     if (map.getZoom() > czoom)
       {getBuildings(getBBoxWKT());}
       czoom = map.getZoom();
     });
</script>
</body>
